@mixin set-border($args) {
    @each $key in map-keys($args) {
        border-#{$key}: map-get($args, $key);
    }
}

@mixin set-border-default($has-radius:false) {
    $radius: 0;
    @if $has-radius = true {
        $radius: $base__border-radius;
    }
    @include set-border((width: 1px, style: solid, color: var(--light-grey-color, #{$light-grey-color}), radius: $radius));
}

@mixin set-default-booking-form {
    .form-book-wrapper {
        @content;

        .form-head {
            @extend %default-form-head;
            
            .price {
                .label,
                .value .text-lg {
                    @extend %default-booking-price-color;
                }
            }
        }
    }
}

@mixin set-default-destination-image-style {
    .image {
        border-radius: $base__border-radius;

        img {
            border-radius: $base__border-radius;

            @content;
        }
    }
}

@mixin make-rounded-icon($icon-size, $icon-color: $color__white, $icon-bg: var(--logo-orange, $color-logo-orange)) {
    font-size: $icon-size;
    color: $icon-color;
    background-color: $icon-bg;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2em;
    padding: .5em;
    border-radius: 50%;

    @content;
    
}

@mixin set-page-header-height($height-map: $page-header-default-height) {
    @each $bp in map-keys($height-map) {
        @include media-breakpoint-up($bp) {
            height: map-get($height-map, $bp);
        }
    }
}