#header {

    @include media-breakpoint-down(xs) {
        
    }

    @include media-breakpoint-down(sm) {
        &, 
        .logged-in & {
            position: relative;
            z-index: 1000;
        }

        .logged-in & {
            margin-top: 0;
        }
    }

    .header {
        background-color: $color__white;
        @include css-declaration(('padding': $header-padding));

        .header-left {
            @include media-breakpoint-down(sm) {
                float: none;
                margin: 0 auto !important;

                flex: 1 0 auto;
                justify-content: center;

                .logo {
                    float: none;
                    margin-right: 0;
                    display: flex;
                    justify-content: center;
                    flex: 1 0 auto;
                }
            }

            // @include media-breakpoint-down(xs) {
            //     flex: 1 0 auto;
            //     justify-content: center;

            //     .logo {
            //         float: none;
            //         margin-right: 0;
            //         display: flex;
            //         justify-content: center;
            //         flex: 1 0 auto;
            //     }
            // }

            .logo {
                img {
                    min-width: $logo-min-width;
                }
            }
            #st-main-menu {
                @include css-declaration(('padding': $topmenu-container-padding));

                .main-menu {
                    > li {
                        > a {
                            @include css-declaration(('padding': $topmenu-item-paddings));

                            @at-root .single &,
                            .single-location &,
                            & {
                                @extend %default-page-text-color;
                            }
                        }

                        &.menu-item-has-children {
                            .fa {
                                margin-top: 0 !important;
                                height: 20px;
                                top: 50%; 
                                transform: translateY(-50%);

                                @include media-breakpoint-down(sm) {
                                    top: 0 !important;
                                    height: 22px;
                                    padding: 18px 0;
                                    margin-top: 0 !important;
                                    transform: none;
                                }

                                @at-root .single &,
                                .single-location &,
                                & {
                                    @extend %default-page-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        @at-root .single & {

        }

        @at-root & {
            .logo {
                img {
                    max-height: $logo-max-height;
                }
            }
        }
    }

    #topbar {
        background: var(--logo-blue, #{$color-logo-blue});
        padding: 15px 20px;

        @include media-breakpoint-up(lg) {
            padding: 15px 50px;
        }
    }
}